.main-btn {
  /*   background: #6985c4; */
  background-color: #000;
  color: white; 
  height: 60px;
  width: 60px;
  border: solid #e6e6e6 2px;
  border-radius: 20%;
  box-shadow: 0px 7px 15px rgba(20, 20, 20, 0.5);
  box-sizing: border-box;
  left: 80%;
  top: 16%;
  transform: translate(-50%, -50%);
  transition: 1s;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.sub-btns {
  height: 50px;
  width: 50px;
  position: fixed;
  left: 80%;
  top: 16%;
  text-decoration: none;
  transform: translate(-50%, -50%);
}

.sub-btns > div {
  box-sizing: border-box;
  border: solid #e6e6e6 2px;
  border-radius: 20%;
  box-shadow: 0px 5px 15px rgba(20, 20, 20, 0.5);
  box-sizing: border-box;
  background: #e6e6e6;
  color: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1 {
  bottom: 0px;
}
.btn2 {
  bottom: 50px;
}
.btn3 {
  bottom: 100px;
}
.btn4 {
  bottom: 150px;
}
.btn5 {
  bottom: 200px;
}
